<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:replace="fragments/header::header">
    <title>Home</title>
</head>
<body>
<div th:replace="fragments/navigation::navigation(tab='home')"></div>
<div class="container">
    <div class="jumbotron">
        <p>
            <a class="btn btn-large btn-primary" href="/login">로그인</a>
            <a class="btn btn-large btn-primary" href="/members/new">회원 가입</a>
        </p>
    </div>
    <div th:replace="fragments/footer::footer"></div>
</div> <!-- /container -->
</body>
</html>